<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Scan Label
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding margin-vertical>

  <h1 ion-text text-center *ngIf="slot._id">Please pickup your item from Slot #{{fnZeroFill(slot.slotNumber, 3)}}.</h1>
  <h1 ion-text text-center *ngIf="slot._id"> Please close the slot door when finished.</h1>

  <ion-grid>
    <ion-row margin-vertical>
      <ion-col col-12 text-center *ngIf="slot._id">
        <ion-buttons text-uppercase float-end>
          <button ion-button large color="secondary" (click)="fnFinish()">Finish</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
