<!--
  Generated template for the ShipmentListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Shipments</ion-title>
    <ion-buttons end>
      <button ion-button (click)="fnLogOut()">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-col col-12 text-center>
    <ion-buttons text-uppercase class="btn-large">
      <button ion-button (click)="fnGoTo()" full>Create Shipment</button>
    </ion-buttons>
  </ion-col>

  <h1 text-center>Shipments</h1>
  <ion-list *ngIf="shipmentArr.length">
    <ion-item *ngFor="let shipment of shipmentArr">
      <div class="selectable"><strong>Label :</strong> {{shipment.label}}</div>
      <div class="selectable"><strong>Status :</strong> {{shipment.status}}</div>
      <div *ngIf="shipment.dropCode" class="selectable"><strong>Dropoff Code :</strong> {{shipment.dropCode}}</div>
      <div *ngIf="shipment.pickupCode" class="selectable"><strong>Pickup Code :</strong> {{shipment.pickupCode}}</div>
    </ion-item>

    <ion-item *ngIf="!shipmentArr.length">
      <h3 text-center>No shipment found.</h3>
    </ion-item>
  </ion-list>


  <h5 text-center *ngIf="!shipmentArr.length">No shipment found.</h5>

</ion-content>
